@media (max-width: 425px){
    main{
        section{
            h2{
                font-size: map-get($font-size, md);
            }
        }
        p{
            margin-left: 20px;
            width: 390px;
            font-size: 14px;
        }
        .sobre-maquillaje-art{
            margin-bottom: 30px;
            .img-sobrenos{
                display: none;
            }
        }
        .fotos-banner{
                display: grid;
                justify-content: center;
                gap: 15px;
                
                .portada-centro{
                    transform: scale(0.8);
                }
                .portada-derecha{
                    display: none;
                }
                .portada-izquierda{
                    display: none;
                }
        }
        .trabajos-grid{
            display: grid;
            gap: 10px;
            justify-content: center;
            .img1{
            transform: scale(0.9);
            }
            .img2{
                transform: scale(0.9);
            }
            .img3{
                transform: scale(0.9);
            }
            .img4{
                transform: scale(0.9);
            }
            .img5{
                transform: scale(0.9);
            }
            .img6{
                transform: scale(0.9);
            }
            .img7{
                transform: scale(0.9);
            }
            .img8{
                transform: scale(0.9);
            }
        }
        .nuestros-prof-img{
            @include grid(25% 25% 25%, auto, center, none, 5px);
            margin-left: 100px;
            .profesional1{
                transform: scale(0.7);
                grid-row: 1 / 2;
                grid-column: 1 / 2;
            }
            .profesional2{
                transform: scale(0.7);
                grid-row: 1 / 2;
                grid-column: 3 / 4;
            }
            .profesional3{
                transform: scale(0.7);
            }
        }
    }
    footer{
        .grid-redes{
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 70%;
        margin-top: 30px;
        justify-content: center;
        .insta-icon{
        display: flex;
        justify-content: center;
            }
        .face-icon{
            display: flex;
            justify-content: center;
            padding-top: 13px;
            padding-left: 10px;
            }
        .wpp-icon{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            display: flex;
            justify-content: center;
            align-items: center;
            }
        }
    }
    .q-necesit{
        h2{
            font-size: 18px;
        }
    }
    .tipo-maquillaje{
        display: flex;
        flex-direction: column;
        width: 100%;
        .card-qnecesit{
            width: 350px;
            height: 260px;
            margin-top: 20px;
            .maq-part{
                h3{
                    font-size: 18px;
                }
            }
            div{
                h3{
                    font-size: 18px;
                    height: 50px;
                }
                p{
                    font-size: 16px;
                    padding-top: 5px;
                    width: 300px;
                }
            }
        }
    }
    .servicios-ofrecemos{
        h2{
            font-size: 18px;
        }
        p{
            font-size: 14px;
            margin-left: 10px;
        }
    }
    .video-produc{
        transform: scale(0.5);
    }
    .reservar-turno{
        h3{
            font-size: 16px;
        }
        .botones{
            padding-left: 30px;
        }
    }
    .display-preg-frec{
        display: flex;
        .card-preg-frec{
        width: 400px;
        height: auto;
        margin-left: 3px;
        div{
            h3{
                font-size: 16px;
            }
            p{
                font-size: 14px;
                width: 300px;
            }
        }
        .titulo-preg-frec{
            width: 340px;
            height: 30px;
            h3{
                font-size: 17px;
            }
        } 
    }
    }
    
}