@media (max-width:320px){
    main{
        section{
            h2{
                width: 90%;
                font-size: 15px;
            }
        }
        p{
            width: 90%;
            font-size: 13px;
            text-align: center;
        }
        .fotos-banner{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            justify-content: center;
            gap: 15px;
            padding-top: 200px;
            .portada-centro{
                transform: scale(1.6);
                img{
                    width: 100%;
                }
            }
            .portada-derecha{
                display: none;
            }
            .portada-izquierda{
                display: none;
            }
            h2{
                padding-left: 20px;
            }
        }
        .trabajos-grid{
            display: grid; 
            grid-template-columns: auto;
            grid-template-rows: repeat(4, 1fr);
            gap: 5px;
            justify-content: center;
            .img1{
                transform: scale(0.7);
            }
            .img2{
                transform: scale(0.7);
            }
            .img3{
                transform: scale(0.7);
            }
            .img4{
                transform: scale(0.7);
            }
            .img5{
                transform: scale(0.7);
            }
            .img6{
                transform: scale(0.7);
            }
            .img7{
                transform: scale(0.7);
            }
            .img8{
                transform: scale(0.7);
            }
        }
        .botones{
            margin-left: 10px;
        }
        .nuestros-prof-img{
            display: grid;
            grid-template-columns: auto; 
            grid-template-rows: repeat(3, 1fr);
        }
        .nuestros-prof{
            padding-right: 20px;
        }
    }
    .q-necesit{
        margin-top: 60px;
        width: 215px;
        h2{
            font-size: 16px;
        }
    }
    .tipo-maquillaje{
        .card-qnecesit{
            width: 290px;
            height: 230px;
            margin-left: 40px;
            div{
                h3{
                    font-size: 15px;
                    height: 40px;
                }
                p{
                    font-size: 13px;
                    padding-top: 5px;
                    width: 260px;
                }
            }
            .maq-part{
                h3{
                    font-size: 15px;
                }
            }
        }
    }
    .produc{
        padding-top: 170px;
        .video-produc{
            transform: scale(0.4);
        }
    }
    .reservar-turno{
        h3{
            font-size: 14px;
        }
    }
    .display-preg-frec{
        display: flex;
        .card-preg-frec{
            width: 300px;
            height: auto;
            margin-left: 3px;
            div{
                h2{
                    font-size: 16px;
                }
                p{
                    font-size: 13px;
                    width: 200px;
                }
            }
            .titulo-preg-frec{
                width: 260px;
                height: 30px;
                h2{
                    font-size: 15px;
                    padding-right: 30px;
                }
            }
        }
    }
}