@media (max-width:375px){
    main{
        p{
            text-align: center;
            margin-left: 10px;
            font-size: 13px;
        }
        .fotos-banner{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            padding-top: 170px;
            padding-bottom: 20px;
            justify-content: center;
            gap: 15px;
            margin-left: 12px;
            .portada-centro{
                transform: scale(1.4);
                padding-right: 6px;
                img{
                    width: 100%;
                }
            }
            .portada-derecha{
                display: none;
            }
            .portada-izquierda{
                display: none;
            }
            .maquillaje-prof{
                padding-top: 40px;
            }
        }
        .sobre-maquillaje-art{
            p{
                width: 100%;
            }
            margin-right: 20px;
        }
        .botones{
            transform: scale(0.9);
            padding-left: 20px;
        }
        .nuestros-prof-img{
            display: grid;
            width: 100%;
            grid-template-columns: auto;
            grid-template-rows: repeat(3, 1fr);
            .profesional1{
                transform: scale(0.8);
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .profesional2{
                transform: scale(0.8);
                grid-column: 1 / 3;
                grid-row: 2 / 3;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .profesional3{
                transform: scale(0.8);
                grid-column: 1 / 3;
                grid-row: 3 / 4;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .nuestros-prof{
            padding-left: 20px;
        }
        .trabajos-grid{
            display: grid;
            gap: 10px;
            justify-content: center;
            padding-right: 40px;
            padding-left: 50px;
            .img1{
                transform: scale(0.8);
            }
            .img2{
                transform: scale(0.8);
            }
            .img3{
                transform: scale(0.8);
            }
            .img4{
                transform: scale(0.8);
            }
            .img5{
                transform: scale(0.8);
            }
            .img6{
                transform: scale(0.8);
            }
            .img7{
                transform: scale(0.8);
            }
            .img8{
                transform: scale(0.8);
            }
        }
    }
    .trabajos-fotos{
        padding-top: 160px;
    }
    .q-necesit{
        margin-top: 60px;
        width: 225px;
        h2{
            font-size: 17px;
        }
    }
    .card-qnecesit{
        width: 300px;
        height: 260px;
        div{
            h3{
                font-size: 16px;
                height: 40px;
            }
            p{
                font-size: 14px;
                padding-top: 5px;
                width: 250px;
            }
        }
        .maq-part{
            h3{
                font-size: 16px;
            }
        }
    }
    .servicios-ofrecemos{
        h2{
            font-size: 17px;
        }
        p{
            font-size: 13px;
            padding-right: 15px;
            width: 100%;
        }
    }
    .display-preg-frec{
        display: flex;
        .card-preg-frec{
            width: 350px;
            height: auto;
            margin-left: 3px;
            margin-top: 65px;
            div{
                h3{
                    font-size: 14px;
                }
                p{
                    font-size: 13px;
                    width: 270px;
                }
            }
            .titulo-preg-frec{
                width: 320px;
                height: 30px;
                h3{
                    font-size: 14px;
                }
            } 
        }
    }
    footer{
        width: 100%;
    }
}
