body{
    width: 100%;
    background-color: $color-principal;
}
main{
    width: 100%;
    section{
        h2{
            color: $bg-secundario;
            text-transform: uppercase;
            font-size: map-get($font-size, xxl);
            font-family: 'Roboto', sans-serif;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            text-shadow: 1px 1px 10px grey;
        }
    }
    p{
        text-indent: 10px;
        word-spacing: 3px;
        font-size: map-get($font-size, md);
        font-family: 'Roboto', sans-serif;
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
    }
}
.fotos-banner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    padding-top: 150px;
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
    .portada-centro{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .portada-izquierda{ 
        @extend .portada-centro;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .portada-derecha{
        @extend .portada-centro;
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    .maquillaje-prof{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        text-align: center;
    }
    div img:hover{
        box-shadow: 0px 0px 10px rgb(100, 99, 99);
    }
}
.fotos-banner {
	-webkit-animation: fotos-banner 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fotos-banner 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fotos-banner {
    0% {
      -webkit-transform: scaleY(0.9);
              transform: scaleY(0.9);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes fotos-banner {
    0% {
      -webkit-transform: scaleY(0.9);
              transform: scaleY(0.9);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  
.img-sobrenos{
    display: flex;
    justify-content: end;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    img:hover{
        box-shadow: 0px 0px 10px rgb(100, 99, 99);
    }
}
.img-sobrenos {
	-webkit-animation: img-sobrenos 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: img-sobrenos 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes img-sobrenos {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes img-sobrenos {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  
.botones{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    button{
        background-color: $bg-secundario;
        padding: 10px;
        margin: 30px;
        border: 2px solid $bg-secundario;
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgb(92, 92, 92);
        transition: background-color 0.6s;
        &:hover{
            background-color: $bg-principal;
            border: 2px solid $bg-principal;
        }
        a{
            color: $color-principal;
            text-transform: uppercase;
            font-size: map-get($font-size, md);
            font-family: 'Roboto', sans-serif;
            text-align: center;
            text-decoration: none;
            text-shadow: 1px 1px 10px grey;
        }
    }
}

.trabajos-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    row-gap: 40px;
    column-gap: 100px;
    justify-content: center;
    margin: 20px;
    & div img:hover{
        box-shadow: 0px 0px 10px rgb(100, 99, 99);
    }
    .img1{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img2{
        @extend .img1;
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }
    .img3{
        @extend .img1;
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }
    .img4{
        @extend .img1;
        grid-row: 2 / 3;
        grid-column: 5 / 6;
    }
    .img5{
        @extend .img1;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    .img6{
        @extend .img1;
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }
    .img7{
        @extend .img1;
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }
    .img8{
        @extend .img1;
        grid-row: 3 / 4;
        grid-column: 5 / 6;
    }
}
.nuestros-prof-img{
    @include grid(repeat(3, 1fr), auto, center, none, none);
    margin: 30px;
    & div img:hover{
        box-shadow: 0px 0px 10px rgb(100, 99, 99);
    }
    .profesional1{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .profesional2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profesional3{
        display: flex;
        justify-content: start;
        align-items: center;
    }
}
.nuestros-prof{
    h2{
        justify-content: center;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 20px;
    }
}